# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo

# ===============================
# Virtual Environment
# ===============================
.venv/
venv/
env/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# TensorBoard
# ===============================
runs/

# ===============================
# Saved Models
# ===============================
models/
*.zip
*.pth
*.pt

# ===============================
# Python Cache
# ===============================
.pytest_cache/

# ===============================
# Operating System
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Temporary Files
# ===============================
*.tmp
*.bak

# ===============================
# Google Colab
# ===============================
sample_data/

# ===============================
# Dataset (Optional)
# Uncomment ONLY if dataset is
# stored separately (recommended)
# ===============================

Dataset/